$header-height = 81px
$footer-height = 80px

// BASIC

.main-content-padding
  padding: $header-height 0 $footer-height
  
// ******************************************************

// HEADER

.nav-item 
  margin-right: $margin-small
  
// ******************************************************
 
// FRONT PAGE

#front-page 
  width: 100% 
  height: 100%
  position: relative
  z-index: 100
  .container, .grid-row 
    height: 100%

.scroll-cols-holder
  overflow: hidden
  height: 100%
  width: 100%
  position: fixed
  padding: 0
  top: 0
  left: 0
  
.scroll-col 
  position: absolute
  width: 100%
  font-size: 0
  padding: $header-height $margin-small $footer-height 0
  img 
    margin: 0
  
.scroll-col-right
  bottom: 0 
  
.front-image-holder 
  width: 100%
  height: calc('100vh - ' + ($header-height + $footer-height))
  padding: $margin-basic 0 
  a
    height: 100%
    width: 100%
  img 
    width: auto
    max-height: 100%
    
.desktop-front-item
  display: block
  
.mobile-front-item
  display: none
  
// ******************************************************

// SINGLE PROJECT
  
.project-content-holder
  height: 100vh
  overflow-y: scroll
  padding-top: $header-height
  padding-bottom: $footer-height
  margin-bottom: 0
  &.hide
    display: none
      
.project-text-title 
  display: block
  
.single-project-text
  p 
    max-width: 650px
    
.single-project-credits
  max-width: 500px
  
.swiper-container
  margin-top: $header-height + $margin-basic

.project-photos-container
  height: calc('100vh - ' ($header-height + $footer-height + ($margin-basic * 2)))
  
.project-photo-holder
  img 
    flex: 0 1 auto
    max-height: 100%
    width: auto
    
.single-project-drawings 
  cursor: url('../img/dist/ui-cursor-plus.png'), pointer 
  
.single-project-text 
  cursor: url('../img/dist/ui-cursor-close.png'), pointer 
  
.project-content-holder
  a:link
    cursor: pointer 

// ******************************************************

// ARCHIVE PROJECT

.archive-project-photos
  display: flex
  
.archive-photos-container
  margin-top: $margin-basic
  
.archive-project-title
  text-indent: -($margin-small)
  margin-left: $margin-small
  
// ******************************************************

// INDEX

.index-container
  padding-left: $margin-small
  padding-right: $margin-small
  
// ******************************************************

// PAGE INFO

.info-content p
  max-width: 900px
  margin: 0 auto
