// BASIC

.site-title
  text-align: center

// HEADER

#mobile-header
  position: fixed
  z-index: 999
  width: 100%
  top: 0
  left: 0
  padding: $margin-small 0
  
.mobile-toggle
  position: absolute
  height: 100%
  width: $margin-basic
  top: 0
  right: $margin-small
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  color: blue
  cursor: pointer
  
.menu-close
  display: none

#nav-holder
  display: none
  background: green
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  text-align: center
  padding-top: $margin-mid
  padding-bottom: $margin-mid
  font-size: $font-size-h1
  
#nav-menu
  display: flex
  flex-direction: column
  justify-content: center
  ul li 
    display: block
    
#lang-holder
  display: flex
  flex-direction: column
  justify-content: space-around
  
#mobile-email
  font-size: $font-size-h3
  
body.menu-active
  #nav-holder
    display: flex
  .site-title
    background: none
    color: $color-white
  .mobile-toggle
    color: $color-white
  .menu-open
    display: none
  .menu-close
    display: initial