$header-height = 84px
$footer-height = 81px

// BASIC

.main-content-padding
  padding: $header-height 0 $footer-height

// ******************************************************

// HEADER

#header
  font-size: $font-size-mid

// ******************************************************

// FRONT PAGE

.scroll-col-left
  padding: $header-height ($margin-basic + $margin-tiny) $footer-height 0

.scroll-col-right
  padding: $header-height ($margin-basic + $margin-tiny) $footer-height 0

.front-image-holder
  padding: 5vh 0

// ******************************************************

// SINGLE PROJECT

.project-content-holder
  padding-top: $header-height
  padding-bottom: $footer-height
  padding-right: $margin-small
  .project-content-wrapper
    padding-bottom: $footer-height

.swiper-container
  margin-top: $header-height + $margin-basic

.project-photos-container
  height: calc('100vh - ' ($header-height + $footer-height + ($margin-basic * 2)))

// ******************************************************

// ARCHIVE PROJECT

#archive-project-holder
  padding-top: $header-height
  padding-bottom: $footer-height
  padding-right: $margin-tiny

#archive-project-list
  padding-bottom: $footer-height

.archive-project-photos
  height: calc('100vh - ' ($header-height + $footer-height + ($margin-basic * 2)))
  margin-top: $header-height + $margin-basic

.archive-project-title
  text-indent: -($margin-small)
  margin-left: $margin-small

// ******************************************************

// INDEX

.index-container
  padding-left: $margin-large
  padding-right: $margin-large

// ******************************************************
