// BASIC

.site-title
  background: none
  color: inherit
  text-align: left
  
// ******************************************************

// HEADER

#mobile-header
  background: none
  position: initial
  padding: 0
  
#nav-holder
  display: flex
  flex-direction: row
  background: none
  position: relative
  width: initial
  height: initial
  top: initial
  left: initial
  text-align: initial
  padding-top: initial
  padding-bottom: initial
  font-size: inherit
  
#nav-menu
  display: initial
  ul li 
    display: inline-block
    
.nav-item 
  margin-right: $margin-small
    
#lang-holder
  display: initial
  text-align: right
  
#mobile-email
  font-size: inherit
  
body.menu-active
  .site-title
    background: none
    color: inherit
    
// ******************************************************
    
// FOOTER

.footer-logo-holder
  text-align: left

.footer-email-holder
  display: block
  
// ******************************************************

// SINGLE PROJECT

.single-project-title
  padding-left: $margin-small
  