$header-height = 90px
$footer-height = 90px

// BASIC

.main-content-padding
  padding: $header-height 0 $footer-height

.site-title
  background: none
  color: inherit
  text-align: left
  
// ******************************************************

// HEADER

#header 
  padding: $margin-small 0 $margin-basic
  font-size: $font-size-mid

#mobile-header
  background: none
  position: initial
  padding: 0
  
#nav-holder
  display: flex
  flex-direction: row
  background: none
  position: relative
  width: initial
  height: initial
  top: initial
  left: initial
  text-align: initial
  padding-top: initial
  padding-bottom: initial
  font-size: inherit
  
#nav-menu
  display: initial
  ul 
    li 
      display: inline-block
    
.nav-item 
  margin-right: $margin-small
    
#lang-holder
  display: initial
  text-align: right
  font-size: $font-size-small
  
#mobile-email
  font-size: inherit
  
body.menu-active
  .site-title
    background: none
    color: inherit
    
// ******************************************************
    
// FOOTER

#footer 
  padding: $margin-basic 0 $margin-small
  
.footer-logo-holder
  text-align: left

.footer-email-holder
  display: block

// ******************************************************
 
// FRONT PAGE

.scroll-cols-holder
  padding: $header-height 0 $footer-height
  
.scroll-col 
  padding-right: $margin-basic
  padding-left: $margin-basic
  img 
    margin: $margin-basic 0
  a:first-of-type img
    margin-top: 0
  a:last-of-type img
    margin-bottom: 0
    
// ******************************************************

// SINGLE PROJECT
    
.single-project-drawings
  padding-top: $header-height
  
.single-project-photos
  padding-bottom: $footer-height
  
.project-content-holder
  margin-bottom: $margin-basic
  
.project-photo-holder
  img 
    max-height: 500px
    
.single-project-text
  p 
    max-width: 550px

// ******************************************************

// ARCHIVE PROJECT

.archive-project-title
  text-indent: -($margin-small)
  margin-left: $margin-small
  
// ******************************************************

// INDEX

.index-container
  padding-left: $margin-small
  padding-right: $margin-small
  
body.blog 
  .post-content 
    display: block
